<main class="main">
    <div class="main__inicio">
        <app-inicio></app-inicio>
    </div>
    <div class="main__productos"></div>
    <div class="main__marcas"></div>
    <div class="main__ofertas"></div>
    <div class="main__contacto"></div>

</main>
<footer class="main__footer">
    <label class="contactos">¿Necesitas ayuda? <a class="contacto" href="mailto: lucindadev@gmail.com">Mándanos
            un correo</a> ó <a class="contacto" href="tel:+526672293578">Llámanos</a>.</label>
</footer>