<main class="main">
    <div class="main__inicio">
        <app-inicio></app-inicio>
    </div>
    <div class="main__productos"></div>
    <div class="main__marcas"></div>
    <div class="main__ofertas"></div>
    <div class="main__contacto"></div>

    <form class="main__form">
        <h2>¿TIENES DUDAS?</h2>
        <div class="main__form-div">
            <input class="main__form-input" type="text" name="username" minlength="3" placeholder="Nombre y Apellido">
            <input type="text" class="main__form-input" placeholder="Número de teléfono">
        </div>
        <div class="main__form-div">
            <input class="main__form-input" type="email" id="email" name="email" placeholder="Correo electrónico">
        </div>
        <div class="main__form-div">
            <textarea class="main__form-textarea" placeholder="Comentario"></textarea>
        </div>
        <div class="main__form-div div-label">
            <label class="main__form-label">Suscríbete a nuestro newsletter</label>
            <input type="checkbox" class="main__form-checkbox">
        </div>
        <button class="main__form-button">Enviar</button>
    </form>
</main>
<footer class="main__footer">
    <label class="contactos">¿Necesitas ayuda? <a class="contacto" href="mailto: lucindadev@gmail.com">Mándanos
            un correo</a> ó <a class="contacto" href="tel:+526672293578">Llámanos</a>.</label>
</footer>