<div class="container">
    <div class="grid-menu">
        <nav class="menu">
            <div class="menu-logo">
                <img src="/YuumiLogoOficial.png" alt="YuumiLogo" class="logo">
            </div>
            <ul class="menu-ul">
                <div class="menu-ul-item">Dashboard</div>
                <div class="menu-ul-item">Productos</div>
                <div class="menu-ul-item">Ventas</div>
            </ul>
        </nav>
    </div>
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <main class="main">
            <h1>CONTENIDO</h1>
            <div class="main__input-container">
            </div>
        </main>
    </div>
</div>
