.container {
    width: 100%;
    height: 100%;
}

.grid-header {
    background-color: #000000f5;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 150px;
}

.grid-menu {
    background-color: #ffffffe5;
    width: 200px;
    position: absolute;
}

.grid-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}