<div class="form__container">
    <form class="main__form" [formGroup]="usuarioForm">
        <h2>¿TIENES DUDAS?</h2>
        <div class="main__form-div">
            <input 
                class="main__form-input" 
                type="text" 
                name="username" 
                minlength="4" 
                placeholder="Nombre y Apellido" 
                formControlName="nombre"
            >
            
            <input 
            type="text" 
            class="main__form-input" 
            placeholder="Número de teléfono" 
            formControlName="numTelefono"
            >

        </div>
        <div class="main__form-div">
            <input 
            class="main__form-input" 
            type="email" 
            id="email" 
            name="email" 
            placeholder="Correo electrónico" 
            formControlName="email"
            >

        </div>
        <div class="main__form-div">
            <textarea 
            class="main__form-textarea" 
            placeholder="Comentario"
            formControlName="comentario"
            maxlength="200"
            >
            </textarea>
        </div>
        <div class="main__form-div div-label">
            <label class="main__form-label">Suscríbete a nuestro newsletter</label>
            <input 
            type="checkbox" 
            class="main__form-checkbox"
            formControlName="suscripcion"
            >
        </div>
        <button class="main__form-button" type="button" id="form-button" (click)="onClick()" >Enviar</button>
    </form>
</div>
