<header class="header-container">
    <div>
        <label class="header__title">Bienvenida, Lucinda D.</label>
        <p class="header__hour">Son las 10:40 a.m. 16-11-2024</p>
    </div>

    <div class="header">
        <div class="header-menu">
            <ul class="header-menu__menu">
                <li class="header-menu__menu-item">Notificaciones</li>
                <li class="header-menu__menu-item">Configuración</li>
                <li class="header-menu__menu-item">Cerrar Sesión</li>
            </ul>
        </div>

        <div class="header-options">
            <div class="header-search">
                <input type="text" class="search" placeholder="Buscar...">
                <img src="/search.svg" alt="search-icon">
            </div>
            <div class="header-user">
                <img width="30px" src="/shopping-bag.svg" alt="shopping-bag">
                <img width="34px" src="/profile-icon.svg" alt="profile-icon">
            </div>
        </div>
    </div>
</header>