<header class="header-container">
    <div class="header__izquierda">
        <div class="header-welcome-user">
            <div>
                <label class="header__title">Hola, Lucinda D.</label>
                <p class="header__hour">{{currentDate}}</p>
            </div>
        </div>
    </div>

    <div class="header__centro">
        <div class="logo">
            <img src="/logoYuumiCosmetics.png" alt="YuumiLogo" class="logo" routerLink="">
        </div>
        <ul class="header-links__ul">
            <li class="header-links__link" routerLink="">Inicio</li>
            <li class="header-links__link" routerLink="productos">Productos</li>
            <li class="header-links__link" routerLink="/">Marcas</li>
            <li class="header-links__link" routerLink="/">Ofertas</li>
            <li class="header-links__link" routerLink="/">Contacto</li>
        </ul>

    </div>

    <div class="header__derecha">
        <div class="flex-header">
            <ul class="header-menu__menu">
                <li class="header-menu__menu-item">Contacto</li>
                <li class="header-menu__menu-item">Configuración</li>
                <li class="header-menu__menu-item">Cerrar Sesión</li>
            </ul>
    
            <div class="header-options">
                <div class="header-search">
                    <input type="text" class="search" placeholder="Buscar...">
                </div>
                <div class="header-user">
                    <img width="25px" src="/shopping-bag.svg" alt="shopping-bag">
                    <img width="25px" src="/usuario.png" alt="usuario">
                </div>
            </div>
        </div>
    </div>
</header>