.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    .header__izquierda {
        display: flex;
        align-items: center;
        color: #fff;
        height: 100%;

        .header-welcome-user {
            display: flex;
            align-items: center;
            gap: 20px;

            label {
                color: #b69de4;
                font-size: 1.8rem;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
    }

    .header__centro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        
        .logo {
            img {
                width: 125px;
                cursor: pointer;
            }
        }

        .header-links__ul {
            display: flex;
            flex-direction: row;
            gap: 25px;
            margin: 0;
            padding: 0;

            li {
                align-self: last baseline;
                color: #b69de4;
                font-weight: bold;
                letter-spacing: 1px;
                list-style: none;
                cursor: pointer;
                font-size: 1.1rem;
                padding-bottom: 5px;
                border-bottom: 5px solid transparent;
            }

            li:hover {
                color: #ffffff;
                border-bottom: 5px solid #b69de4;
                transition: .2s;
            }
        }
    }

    .header__derecha {
        display: flex;
        justify-content: flex-end;
        height: 100%;

        .flex-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;
        }

        .header-menu {
            height: fit-content;

            &__menu {
                gap: 10px;
                padding: 0;
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin: 0;

                li {
                    color: #b69de4;
                    font-weight: bold;
                    letter-spacing: 1px;
                    list-style: none;
                    cursor: pointer;
                    font-size: 1.1rem;
                    padding: 5px;
                    border-radius: 0 0 10px 10px;
                    padding-top: 0;
                }

                li:hover {
                    color: #ffffff;
                    transition: .2s;
                    background-color: #b69de4;
                    box-shadow: 0 0 10px 0 #b69de4;
                    border-radius: 0 0 10px 10px;
                }
            }
        }

        .header-options {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;

            img {
                cursor: pointer;
            }
            img:hover {
                filter: drop-shadow(0 0 5px #b69de4);
            }

            .header-search {
                margin: 0;
                padding: 5px;

                .search {
                    margin: 0;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    width: 200px;
                }

                .search:focus {
                    outline: none;
                }

                img {
                    position: absolute;
                    right: 9px;
                    top: 10px;
                    color: #ffffff;
                }
            }
        }

        .header-user {
            padding: 5px 0;
            display: flex;
            flex-direction: row;
            align-items: end;
            gap: 5px;
        }
    }
}