.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    background-color: #88ab42;

    .header {
        width: 500px;

        .header-menu {
            gap: 10px;

            &__menu {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: start;
                margin-top: 0;
                justify-content: end;

                li {
                    list-style: none;
                    cursor: pointer;
                    color: #fff;
                    font-size: 20px;
                    padding: 5px;
                }
            }
        }

        &-options {
            display: flex;
            flex-direction: row;
            align-items: last baseline;
            justify-content: end;

            .header-search {
                position: relative;
                margin: 0;
                padding: 5px;
                
                .search {
                    margin: 0;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;
                    width: 200px;
                }

                img {
                    position: absolute;
                    right: 9px;
                    top: 10px;
                }

                ;
            }
        }

        &-user {
            padding: 5px 0;
            display: flex;
            align-self: flex-end;
            gap: 10px;
        }
    }
}