<div class="cards__container">
    @for (producto of productos; track $index) {
        <div class="main__product-card">
            <div class="product__img"></div>
            <div class="card__title-container">
                <h2 class="card__title">{{producto.nombre}}</h2>
            </div>
            <div class="card__product-categoria">
                <h2 class="card__categoria">{{producto.categoria}}</h2>
            </div>
            <div class="card__product-stars">
                <img class="stars" src="/estrellas.png" alt="stars">
            </div>
            <h2 class="card__price"> MXN $ {{producto.precio}}.00</h2>
            <div class="card__buttons">
                <button class="card__button">Agregar al carrito</button>
                <button class="card__button">Comprar ahora</button>
            </div>
        </div>
    }
</div>

