.cards__container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main__product-card {
    color: #23142fd1;
    background-color: #ffffff1c;
    width: 250px;
    height: 450px;
    padding: 10px;
    box-shadow: 0 0 10px #00000018;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;

    .card__categoria{
        margin: 0;
        text-align: center;
        font-size: .9rem;
    }

    .card__product-stars {
        display: flex;
        justify-content: center;
        align-items: center;

        .stars {
            width: 100px;
            height: 20px;
            margin: 0;
        }
    }

    img {
        align-self: center;
        width: 200px;
        aspect-ratio: 1;
    }

    .product__img {
        width: 200px;
        height: 200px;
        background: url(/blush-liquido.webp) no-repeat center center;
        background-size: cover;
    }

    .card__title-container {
        text-align: center;
        display: flex;
        align-items: center;
        height: 60px;

        .card__title {
            width: 100%;
            font-size: 1rem;
            line-height: 1.4;
        }
    }

    h2 {
        align-self: center;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: .9rem;
        height: 80px;
    }

    button {
        font-size: 1rem;
        padding: 8px 0;
        background-color: #472860d1;
        color: #fff;
        border: none;
        border-radius: 5px;
    }

    button:hover {
        background-color: #472860e4;
        cursor: pointer;
    }

    .card__buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
.main__product-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: .3s;

    .product__img {
        transition: .4s linear all 0s;  
        background: url(/blush-hover.webp) no-repeat center center;
        background-size: cover;
    }
}