.main__container {
    width: 1125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablas__checkbox {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    label {
        margin-right: 10px;
    }
}

.container {
    width: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    button {
        background-color: var(--primary-color);
    }

    .titulo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

.tabla {
    margin-top: 20px;
    width: fit-content;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    background-color: transparent;

    th, td {
        color: #000;
        text-align: center;
        vertical-align: middle;
    }

    button {
        background-color: transparent;
        box-shadow: none;
    }
}

