<div class="app__inicio">
    <div class="main__welcome">
        <div class="main__welcome-text">
            <div>
                <h1>¡Bienvenida a YuumiCosmetics!</h1>
            </div>
            <div>
                <p> Descubre la magia del maquillaje y los secretos de la belleza con productos
                    diseñados para resaltar tu esencia y hacerte brillar cada día. En YuumiCosmetics, promovemos la
                    venta de
                    productos libres de testeo en animales y accesibles a precios que se adaptan a ti. ¡Haz de la
                    belleza tu
                    mejor accesorio mientras cuidas el mundo que te rodea!</p>
            </div>
            <button class="main__welcome-button">Compra Ya!</button>
        </div>
        <div>
            <img src="/YUUMIFREECRUELTYOFICIAL.png" alt="crueltyFree">
        </div>
    </div>
    <div class="main__sections">
        <div class="main__sections-one">
            <img src="/cream-bottle.png" alt="cream-bottle">
            <label>Cabello</label>
        </div>
        <div class="main__sections-two">
            <img src="/makeup.png" alt="makeup">
            <label>Maquillaje</label>
        </div>
        <div class="main__sections-three">
            <img src="/serum.png" alt="cream-bottle">
            <label>Skincare</label>
        </div>
    </div>
    <div class="main__best-selling">
        <h2 class="titulo">LOS MÁS COMPRADOS</h2>
        <div class="cards">
            <div class="main__product-card">
                <img src="/blush-liquido.webp" alt="blush-liquido">
                <div class="card__title-container">
                    <h2 class="card__title">Camo Liquid Blush e.l.f Cosmetics</h2>
                </div>
                <div class="card__product-stars">
                    <img class="stars" src="/estrellas.png" alt="stars">
                </div>
                <h2 class="card__price">$ 230.00</h2>
                <div class="card__buttons">
                    <button class="card__button">Agregar al carrito</button>
                    <button class="card__button">Comprar ahora</button>
                </div>
            </div>
            <div class="main__product-card">
                <img src="/gel-limpiador-facial.webp" alt="gel-limpiador-facial">
                <div class="card__title-container">
                    <h2 class="card__title">Gel de limpieza facial Neutrogena Deep Clean Intensive piel mixta a
                        grasa 60 g</h2>
                </div>
                <div class="card__product-stars">
                    <img class="stars" src="/estrellas.png" alt="stars">
                </div>
                <h2 class="card__price">$ 113.00</h2>
                <div class="card__buttons">
                    <button class="card__button">Agregar al carrito</button>
                    <button class="card__button">Comprar ahora</button>
                </div>
            </div>
            <div class="main__product-card">
                <img src="/serum-L'oreal.webp" alt="blush-liquido">
                <div class="card__title-container">
                    <h2 class="card__title">Revitalift Ácido Hialurónico sérum para ojos - Loreal Dermo Expertise
                    </h2>
                </div>
                <div class="card__product-stars">
                    <img class="stars" src="/estrellas.png" alt="stars">
                </div>
                <h2 class="card__price">$ 345.00</h2>
                <div class="card__buttons">
                    <button class="card__button">Agregar al carrito</button>
                    <button class="card__button">Comprar ahora</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main__reviews">
        <h2>RESEÑAS</h2>
        <div class="main__reviews-cards">
            <div class="main__reviews-card">
                <div class="card__review-img img-div">
                    <img src="/usuarioX.png" alt="usuarioX" class="card__review-img">
                </div>
                <div class="card__review-stars">
                    <img class="stars" src="/estrellas.png" alt="stars">
                </div>
                <div class="card__review">
                    <p class="card__review-text">Lorem ipsum dolor sit amet consectetur adipisicing. Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Provident eum in, totam, consectetur rerum voluptates
                        iure labore quibusdam at mollitia neque? Ut aut, facilis ea neque reiciendis quae tempora qui?
                    </p>
                </div>
                <div class="card__review-user">
                    <p class="card__user">MyChemLucy</p>
                    <a href=#>Ver más</a>
                </div>
            </div>
            <div class="main__reviews-card">
                <div class="card__review-img img-div">
                    <img src="/usuarioX.png" alt="usuarioX" class="card__review-img">
                </div>
                <div class="card__review-stars">
                    <img class="stars" src="/estrellas.png" alt="stars">
                </div>
                <div class="card__review">
                    <p class="card__review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card__review-user">
                    <p class="card__user">Cagadadeperro</p>
                    <a href=#>Ver más</a>
                </div>
            </div>
            <div class="main__reviews-card">
                <div class="card__review-img img-div">
                    <img src="/usuarioX.png" alt="usuarioX" class="card__review-img">
                </div>
                <div class="card__review-stars">
                    <img class="stars" src="/estrellas.png" alt="stars">
                </div>
                <div class="card__review">
                    <p class="card__review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card__review-user">
                    <p class="card__user">amoelpEnE</p>
                    <a href=#>Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <app-formulario></app-formulario>
</div>

